.ownMessage{
    border-left : 2px solid rgb(63, 199, 209);
    padding-left: 1px;
    background-image: 'https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg';
    background-size: cover;
   
}   